@font-face {
  font-family: 'dosis';
  src: url("../fonts/dosis-extralight-webfont.ttf") format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'dosis';
  src: url("../fonts/dosis-light-webfont.ttf") format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'dosis';
  src: url("../fonts/dosis-regular-webfont.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'dosis';
  src: url("../fonts/dosis-medium-webfont.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'dosis';
  src: url("../fonts/dosis-semibold-webfont.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'dosis';
  src: url("../fonts/dosis-bold-webfont.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'dosis';
  src: url("../fonts/dosis-extrabold-webfont.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
body {
  display: initial;
  background: #000;
  font-family: 'Dosis';
  font-size: 13px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.6;
  color: #fff;
}
h1 {
  font-size: 3vw;
  letter-spacing: 3px;
}
header,
ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
header {
  position: fixed;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0 6.25vw 0 6.25vw;
  background: #201e24;
  z-index: 2;
}
.menu-icon {
  cursor: pointer;
  transition: opacity 0.4s;
}
.menu-icon:hover {
  opacity: 0.6;
}
.menu-icon-line {
  width: 25px;
  height: 1px;
  margin-bottom: 8px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  background: #fff;
}
.menu-icon-line:last-child {
  margin: 0;
}
.user-links-item {
  margin-right: 20px;
  cursor: pointer;
  transition: opacity 0.4s;
}
.user-links-item:hover {
  opacity: 0.6;
}
.user-links-item:last-child {
  margin: 0;
}
nav {
  position: fixed;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  left: -300px;
  padding: 5vh 0;
  width: 300px;
  height: 100vh;
  background: #1b1a1f;
  transition: left 0.6s cubic-bezier(0.7, 0, 0.3, 1);
  z-index: 4;
}
.main-menu,
.user-menu {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.main-menu-item,
.user-menu-item {
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.4s;
}
.main-menu-item:hover,
.user-menu-item:hover {
  opacity: 0.6;
}
.main-menu-item:last-child,
.user-menu-item:last-child {
  margin: 0;
}
.messages-counter {
  opacity: 0.3;
}
#animate-hover {
  margin-left: 0px;
  transition: margin-left 0.8s;
}
.shop-menu {
  position: fixed;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  left: -300px;
  padding: 5vh 0;
  width: 300px;
  height: 100vh;
  background: #19171c;
  transition: left 0.6s cubic-bezier(0.7, 0, 0.3, 1);
  z-index: 3;
}
.shop-menu-item {
  width: 256px;
  height: 144px;
  margin-bottom: 20px;
  overflow: hidden;
}
.shop-menu-item h3 {
  cursor: pointer;
  transition: opacity 0.4s;
  z-index: 5;
}
.shop-menu-item h3:hover {
  opacity: 0.6;
}
.shop-menu-item-cover {
  width: 256px;
  height: 144px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
.shader {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 100%;
  background: rgba(32,30,36,0.8);
  z-index: 4;
}
#videos {
  background: url("../img/frame_01.jpg") no-repeat 0% 0%/cover;
}
#photosets {
  background: url("../img/frame_03.jpg") no-repeat 0% 0%/cover;
}
.features {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.features-item {
  display: inherit;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 25vw;
  height: 25vw;
  background: #1b1a1f;
}
.features-item p {
  text-align: center;
}
.feature-counters {
  font-size: 30px;
}
.slider {
  position: relative;
  margin-top: 50px;
  width: 100%;
  height: 40vw;
}
.slides,
.slides-item,
.points {
  width: 100%;
  height: 100%;
}
.slides {
  position: absolute;
}
.slides-item {
  position: absolute;
  opacity: 0;
  transition: opacity 2s;
}
.points {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.trigger-points {
  margin-bottom: 5vw;
  z-index: 1;
}
.trigger-points-item {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  transition: opacity 0.4s;
}
.trigger-points-item:last-child {
  margin: 0;
}
.trigger-points-item:hover {
  cursor: pointer;
}
#slide_0 {
  background: #141316;
}
#slide_1 {
  background: #141316;
}
#slide_2 {
  background: #141316;
}
.liveshow-counter {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3vw 12.5vw;
  background: #1b1a1f;
}
.counter {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20vw;
  height: 3vw;
  max-width: 250px;
  max-height: 55px;
  min-width: 150px;
  min-height: 45px;
}
.counter-lable {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 10px;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.05);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  font-size: 18px;
}
.counter-lable:last-child {
  margin-right: 0;
}
.liveshow-counter-title {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.date-title {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.liveshow-lable {
  margin-right: 20px;
}
.liveshow-date {
  margin-left: 20px;
}
.liveshow-separator {
  width: 1px;
  background: rgba(255,255,255,0.1);
}
.liveshow-title {
  font-size: 1.5vw;
}
.about-me {
  padding: 5vw 12.5vw;
  background: #201e24;
}
.about-me h1 {
  margin-bottom: 2vw;
  text-align: center;
}
.about-me-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.about-me-wrapper p {
  text-align: justify;
  color: rgba(255,255,255,0.5);
}
.about-me-wrapper p .link {
  color: #fff;
  cursor: pointer;
  transition: opacity 0.4s;
}
.about-me-wrapper p .link:hover {
  opacity: 0.6;
}
.social-links {
  margin-left: 5vw;
  padding-left: 3vw;
  border-left: 1px solid rgba(255,255,255,0.3);
}
.social-links-item {
  margin-bottom: 10px;
  cursor: pointer;
  transition: opacity 0.4s;
}
.social-links-item:hover {
  opacity: 0.6;
}
.join-area {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3vw 12.5vw;
  background: #1b1a1f;
}
.join-title {
  font-size: 2.5vw;
}
button {
  background: #fff;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  color: #201e24;
  font-size: 14px;
  text-transform: uppercase;
}
.join-button {
  width: 20vw;
  height: 3vw;
  max-width: 250px;
  max-height: 55px;
  min-width: 150px;
  min-height: 45px;
}
@media screen and (max-width: 700px) {
  .join-area {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 5vw 12.5vw;
    padding-bottom: 7vw;
  }
  .join-title {
    font-size: 5vw;
    text-align: center;
    margin-bottom: 2vw;
  }
}
.video-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.video-block .video-description {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50vw;
  height: calc(56.25vw / 2);
  padding: 3vw;
  background: #201e24;
}
.video-block .video-description .text {
  text-align: center;
  opacity: 0.3;
}
.video-block .video-description:after {
  position: absolute;
  top: 3vw;
  left: -11.7%;
  content: '';
  border: 3vw solid transparent;
  border-right: 3vw solid #201e24;
}
.inverse-video {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.inverse-video .video-description:after {
  left: 100%;
  border: 3vw solid transparent;
  border-left: 3vw solid #201e24;
}
.video-cover {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50vw;
  height: calc(56.25vw / 2);
}
.play-button {
  width: 6vw;
  height: 6vw;
  border: 3vw solid transparent;
  border-left: 5vw solid #fff;
  transform: translate(20%, 0%);
  cursor: pointer;
  transition: opacity 0.4s;
}
.play-button:hover {
  opacity: 0.6;
}
.content-title {
  font-size: 2vw;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.4s;
}
.content-title:hover {
  opacity: 0.6;
}
#video-cover-0 {
  background: #1b1a1f;
}
#video-cover-1 {
  background: #1b1a1f;
}
#video-cover-2 {
  background: #1b1a1f;
}
#video-cover-3 {
  background: #1b1a1f;
}
.photo-grid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.photo-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 25vw;
}
.photo-block .photo-description {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 15vw;
  padding: 3vw;
  background: #201e24;
}
.photo-block .photo-description .text {
  text-align: center;
  opacity: 0.3;
}
.photo-block .photo-description:after {
  position: absolute;
  top: -25.3%;
  left: 1.5vw;
  content: '';
  border: 2vw solid transparent;
  border-bottom: 2vw solid #201e24;
}
.inverse-photo {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column-reverse;
}
.inverse-photo .photo-description:after {
  top: 100%;
  border: 2vw solid transparent;
  border-top: 2vw solid #201e24;
}
.photo-cover {
  height: 37.5vw;
}
#photo-cover-0 {
  background: #1b1a1f;
}
#photo-cover-1 {
  background: #1b1a1f;
}
#photo-cover-2 {
  background: #1b1a1f;
}
#photo-cover-3 {
  background: #1b1a1f;
}
