body {
  font-family: 'Montserrat';
  color: #444;
  text-align: center;
}
h1 {
  font-size: 5vw;
  font-weight: bold;
}
h2 {
  font-size: 25px;
  font-weight: normal;
}
h3 {
  font-size: 13px;
  font-weight: bold;
}
img {
  border-radius: 50%;
}
