@font-face {
  font-family: 'dosis';
  src: url("../fonts/dosis-bold-webfont.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'dosis';
  src: url("../fonts/dosis-extrabold-webfont.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'dosis';
  src: url("../fonts/dosis-extralight-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dosis';
  src: url("../fonts/dosis-light-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dosis';
  src: url("../fonts/dosis-medium-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dosis';
  src: url("../fonts/dosis-regular-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dosis';
  src: url("../fonts/dosis-semibold-webfont.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}
body {
  display: block;
  background: #000;
  width: 100vw;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Dosis';
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1;
  text-align: center;
  overflow-x: hidden;
}
.wrapper {
  margin: auto;
  width: 75%;
}
/*============ TEXT ============*/
h1,
h2,
h3,
p {
  margin: 0;
  font-weight: 400;
  line-height: 1.2;
}
h1 {
  font-size: 3vw;
}
h2 {
  font-size: 2vw;
}
h3 {
  font-size: 1.5vw;
}
.link {
  cursor: pointer;
  transition: opacity 0.4s;
}
.link:hover {
  transition: opacity 0.4s;
  opacity: 0.7;
}
.desc {
  opacity: 0.3;
  font-size: 12px;
  margin-top: 5px;
}
.text {
  margin: 2vw auto 1vw auto;
  color: rgba(255,255,255,0.3);
  text-align: left;
  font-size: 13px;
  line-height: 1.6;
}
/*============ SIDEBAR ============*/
#sidebar {
  position: fixed;
  width: 300px;
  height: 100vh;
  left: -300px;
  background: #201c1e;
  z-index: 2;
}
/*============ HEADER ============*/
header,
#menu_icon,
#menu {
  display: flex;
}
header {
  justify-content: space-between;
  background: #201c1e;
  height: 60px;
  padding: 0 6.25vw 0 6.25vw;
}
#menu_icon {
  flex-direction: column;
  padding: 24px 0 22px 0;
}
.menu_iconline {
  background: #fff;
  width: 30px;
  height: 1px;
}
.menu_iconline:first-child {
  margin-bottom: 8px;
}
#menu {
  margin-top: 23px;
  font-size: 14px;
  cursor: pointer;
}
.menu_items {
  height: 100%;
  margin-right: 30px;
}
.menu_items:last-child {
  margin-right: 0;
}
/*============ SLIDER ============*/
#slider {
  height: 40vw;
  padding-top: 1px;
  margin-top: -1px;
  position: relative;
}
#slider:hover .slide {
  transition: -webkit-filter 1s;
  -webkit-filter: grayscale(0%);
}
#slider .slide {
  transition: -webkit-filter 1s;
  -webkit-filter: grayscale(100%);
}
/*============ ABOUT ============*/
#about_me {
  display: block;
  padding: 5vw 10vw;
  background: #201c1e;
}
.about_text {
  display: flex;
}
.s_links {
  margin: 2.1vw 0 3vw 5vw;
  padding-left: 3vw;
  border-left: solid 1px rgba(255,255,255,0.3);
}
.s_link {
  opacity: 1;
  text-align: left;
  line-height: 2;
  font-size: 12px;
}
/*============ FEATURES ============*/
#site_features {
  display: flex;
  flex-wrap: wrap;
}
.feature {
  width: 25vw;
  height: 25vw;
  background: #201c1e;
}
.feature_inf {
  display: flex;
  background: rgba(32,28,30,0.7);
  width: 100%;
  height: 100%;
}
/*============ VIDEOS ============*/
#videos {
  display: block;
}
.video_card,
.video_card_inv {
  display: flex;
  flex-wrap: wrap;
}
.video_card:hover .video_card_cover,
.video_card_inv:hover .video_card_cover {
  transition: -webkit-filter 1s;
  -webkit-filter: grayscale(0%);
}
.video_card_cover,
.video_card_inf {
  display: inherit;
  float: left;
  width: 50vw;
  height: calc(56.25vw / 2);
}
.video_card_cover {
  cursor: pointer;
  transition: -webkit-filter 1s;
  -webkit-filter: grayscale(100%);
}
.video_card_inf {
  position: relative;
  background: #201c1e;
}
.play_button {
  margin: auto 55% auto 45%;
  border: 3vw solid transparent;
  border-left: 5vw solid #fff;
}
/*============ PHOTOSETS ============*/
#photosets {
  display: flex;
  flex-wrap: wrap;
}
.photo_card,
.photo_card_inv {
  width: calc(100vw / 4);
}
.photo_card:hover .photo_card_cover,
.photo_card_inv:hover .photo_card_cover {
  transition: -webkit-filter 1s;
  -webkit-filter: grayscale(0%);
}
.photo_card_cover {
  height: 37.5vw;
  cursor: pointer;
  transition: -webkit-filter 1s;
  -webkit-filter: grayscale(100%);
}
.photo_card_inf {
  position: relative;
  display: flex;
  background: #201c1e;
  height: 15vw;
}
/*============ BLOGPOSTS ============*/
#blogposts {
  display: flex;
  flex-wrap: wrap;
}
.post {
  width: calc(100vw / 3);
}
.post_cover {
  height: calc(100vw / 3);
  background: #201c1e;
}
.post_inf {
  position: relative;
  display: flex;
  background: rgba(32,28,30,0.7);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
/*============ ARROWS ============*/
#video_arrow_1:before,
#photo_arrow_1:before,
#photo_arrow_2:before {
  height: 0;
  content: '';
  position: absolute;
}
#video_arrow_1:before {
  top: 2vw;
  left: -3.75vw;
  border: 2vw solid transparent;
  border-right: 2vw solid #201c1e;
}
#video_arrow_2:after {
  content: '';
  position: absolute;
  height: 0;
  top: 2vw;
  border: 2vw solid transparent;
  z-index: 2;
  border-left: 2vw solid #201c1e;
}
#photo_arrow_1:before {
  top: -3.75vw;
  left: 2vw;
  border: 2vw solid transparent;
  border-bottom: 2vw solid #201c1e;
}
#photo_arrow_2:before {
  top: 15vw;
  left: 2vw;
  border: 2vw solid transparent;
  border-top: 2vw solid #201c1e;
}
/*============ IMAGES ============*/
#slider_photo_1,
#ftr_img_1,
#ftr_img_2,
#ftr_img_3,
#ftr_img_4,
#video_cover_1,
#video_cover_2,
#photo_cover_1,
#photo_cover_2,
#photo_cover_3,
#photo_cover_4,
#post_cover_1,
#post_cover_2,
#post_cover_3 {
  background-size: cover;
}
#ftr_img_1 {
  background-image: url("../img/photoset_01.jpg");
}
#ftr_img_2 {
  background-image: url("../img/photoset_03.jpg");
}
#ftr_img_3 {
  background-image: url("../img/photoset_02.jpg");
}
#ftr_img_4 {
  background-image: url("../img/photoset_04.jpg");
}
#video_cover_1 {
  background-image: url("../img/video_1.jpg");
}
#video_cover_2 {
  background-image: url("../img/video_2.jpg");
}
#photo_cover_1 {
  background-image: url("../img/photoset_01.jpg");
}
#photo_cover_2 {
  background-image: url("../img/photoset_03.jpg");
}
#photo_cover_3 {
  background-image: url("../img/photoset_02.jpg");
}
#photo_cover_4 {
  background-image: url("../img/photoset_04.jpg");
}
#post_cover_1 {
  background-image: url("../img/slider_03.jpg");
}
#post_cover_2 {
  background-image: none;
}
#post_cover_3 {
  background-image: url("../img/photoset_01.jpg");
}
/*============ QUERRIES ============*/
@media screen and (max-width: 600px) {
  h1 {
    font-size: 6vw;
  }
  h2 {
    font-size: 4vw;
  }
  h3 {
    font-size: 3vw;
  }
  .desc {
    opacity: 0.3;
    font-size: 10px;
  }
  .text {
    margin: 4vw auto 2vw auto;
    font-size: 12px;
  }
  .point {
    width: 7px;
    height: 7px;
  }
  #about_me {
    padding: 10vw;
  }
  .about_text {
    display: block;
  }
  .s_links {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 6vw auto 0 auto;
    border: none;
    border-top: solid 1px rgba(255,255,255,0.3);
  }
  .s_link {
    margin: 3vw 3vw 0 0;
    font-size: 3vw;
  }
  .s_link:last-child {
    margin-right: 0;
  }
  .feature {
    width: 50vw;
    height: 50vw;
  }
  .video_card_inv div:nth-child(1) {
    order: 2;
  }
  .video_card_inv div:nth-child(2) {
    order: 1;
  }
  .video_card_cover {
    width: 100vw;
    height: 56.25vw;
  }
  .video_card_inf {
    width: 100vw;
    height: 40vw;
  }
  .play_button {
    border: 6vw solid transparent;
    border-left: 10vw solid #fff;
  }
  .photo_card,
  .photo_card_inv {
    width: 50vw;
  }
  .photo_card_cover {
    height: 75vw;
  }
  .photo_card_inf {
    height: 30vw;
  }
  .post {
    width: 100vw;
  }
  .post_cover {
    height: 100vw;
  }
  #photo_arrow_1:before {
    top: -7.5vw;
    left: 4vw;
    border: 4vw solid transparent;
    border-bottom: 4vw solid #201c1e;
  }
  #photo_arrow_2:before {
    top: 30vw;
    left: 38vw;
    border: 4vw solid transparent;
    border-top: 4vw solid #201c1e;
  }
  #video_arrow_1:before {
    left: 4vw;
    top: -7.5vw;
    border: 4vw solid transparent;
    border-bottom: 4vw solid #201c1e;
  }
  #video_arrow_2:after {
    left: 88vw;
    top: -7.5vw;
    border: 4vw solid transparent;
    border-bottom: 4vw solid #201c1e;
  }
}
